<header
  class="sticky top-0 z-20 transition ease-in-out"
  [ngClass]="{
    'bg-white/50 dark:bg-gray-800/40 backdrop-blur-xl shadow-sm': isScrolled,
    'bg-transparent': !isScrolled
  }"
>
  <nav class="mx-auto flex items-center justify-between p-4 lg:px-8 h-full">
    <div class="flex flex-1 relative items-center justify-start h-full">
      <a [routerLink]="['/']" class="absolute inset-0 hidden lg:block">
        <span class="sr-only">GambaQR</span>
      </a>
      <img class="h-[30px] hidden lg:block" src="logo.svg" alt="logo" />
    </div>

    <div class="flex lg:hidden">
      <button
        type="button"
        class="flex items-center justify-center p-3 rounded-full group hover:bg-gray-200/50 dark:hover:bg-gray-900/40 transition-colors"
        (click)="toggleMenu()"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="size-6 text-gray-600 dark:text-gray-400 group-hover:text-purple-600 dark:group-hover:text-purple-400 transition"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-5">
      <div class="flex items-center justify-center">
        <ng-container *ngIf="!isAuthenticated">
          <a
            (click)="openLoginOverlay()"
            class="text-md/6 font-semibold text-gray-700 dark:text-gray-300 hover:text-purple-600 dark:hover:text-purple-400 transition cursor-pointer"
          >
            Inicio sesión <span aria-hidden="true">&rarr;</span></a
          >
        </ng-container>

        <ng-container *ngIf="isAuthenticated">
          <button
            (click)="logout()"
            class="text-md/6 font-semibold text-gray-700 dark:text-gray-300 hover:text-purple-600 dark:hover:text-purple-400 transition cursor-pointer flex items-center gap-x-2 rounded-lg px-3 py-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4"
            >
              <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
              <polyline points="17 16 22 12 17 8"></polyline>
              <line x1="22" y1="12" x2="10" y2="12"></line>
            </svg>
            Cerrar sesión
          </button>
        </ng-container>
      </div>

      <div class="flex items-center justify-center -my-2">
        <button
          type="button"
          class="text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition flex items-center gap-x-2 rounded-lg px-3 py-2 text-md/6 font-semibold"
          (click)="toggleTheme()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-4 w-4"
          >
            <path
              d="M12 3a9 9 0 1 0 9 9c0 1.3-.2 2.5-.6 3.6-.3.9-.9 1.7-1.7 2.3A9 9 0 0 1 12 21Z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </nav>

  <div role="dialog" class="z-30" aria-modal="true">
    <div
      *ngIf="isOpen"
      [@fadeBackground]
      class="fixed inset-0 z-30 bg-black/25 dark:bg-black/50 h-screen"
    ></div>

    <div
      *ngIf="isOpen"
      [@slideFromRight]
      class="fixed inset-y-0 right-0 z-30 w-full h-screen overflow-y-auto bg-white/50 dark:bg-gray-800/50 backdrop-blur-xl px-6 py-6 sm:max-w-sm"
    >
      <div class="flex items-center justify-between">
        <div class="flex-grow-1 flex justify-center">
          <a [routerLink]="['/']" class="-m-1.5 p-1.5 flex items-center gap-3">
            <img class="h-8 w-auto" src="logo.svg" alt="GambaQR" />
            <span class="text-center text-xl font-bold text-pink-600 font-logo">
              GambaQR</span
            >
          </a>
        </div>
        <button
          type="button"
          class="flex items-center justify-center p-2 rounded-full group hover:bg-white/50 dark:hover:bg-gray-800/40 transition-colors"
          (click)="toggleMenu()"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="size-6 text-gray-600 dark:text-gray-400 group-hover:text-purple-600 dark:group-hover:text-purple-400 transition"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="py-6">
            <ng-container *ngIf="!isAuthenticated">
              <a
                (click)="openLoginOverlay()"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition cursor-pointer"
                >Inicio sesión</a
              >
              <a
                (click)="openRegisterOverlay()"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition cursor-pointer"
                >Regístrate</a
              >
            </ng-container>

            <ng-container *ngIf="isAuthenticated">
              <button
                (click)="logout()"
                class="-mx-3 flex items-center gap-x-2 rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition cursor-pointer w-full text-left"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-4 w-4"
                >
                  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                  <polyline points="17 16 22 12 17 8"></polyline>
                  <line x1="22" y1="12" x2="10" y2="12"></line>
                </svg>
                Cerrar sesión
              </button>
            </ng-container>
          </div>
          <div class="py-6">
            <button
              class="-mx-3 flex items-center gap-x-2 rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 transition cursor-pointer"
              (click)="toggleTheme(); toggleMenu()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-4 w-4"
              >
                <path
                  d="M12 3a9 9 0 1 0 9 9c0 1.3-.2 2.5-.6 3.6-.3.9-.9 1.7-1.7 2.3A9 9 0 0 1 12 21Z"
                ></path>
              </svg>
              Cambiar tema
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<app-overlay
  [isOpen]="showLoginOverlay"
  (close)="onLoginOverlayClose()"
  maxWidthClass="max-w-5xl"
>
  <app-login
    (loggedIn)="onLoginSuccess()"
    (cancel)="onLoginOverlayClose()"
    (goToRegister)="onSwitchToRegister()"
  ></app-login>
</app-overlay>

<app-overlay
  [isOpen]="showRegisterOverlay"
  (close)="onRegisterOverlayClose()"
  maxWidthClass="max-w-2xl"
>
  <app-register
    (registered)="onRegisterSuccess()"
    (cancel)="onRegisterOverlayClose()"
    (goToLogin)="onSwitchToLogin()"
  ></app-register>
</app-overlay>
