<div class="flex flex-col items-center h-screen">
  <div
    class="relative w-full h-full rounded-xl p-[5%] flex flex-col lg:flex-row gap-8 lg:gap-16 justify-center"
  >
    <!-- Fondo con gradiente -->
    <div class="gradient-background-1"></div>

    <!-- Contenido del formulario de inicio de sesión -->
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="flex justify-center items-center gap-3">
          <a href="/">
            <img class="h-10 w-auto" src="logo.svg" alt="GambaQR" />
          </a>
        </div>
        <h2 class="mt-10 text-center text-4xl/9 font-bold title-text">
          Inicia sesión en tu cuenta
        </h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="#" method="POST">
          <div>
            <label for="email" class="block text-lg/6 body-text">Email</label>
            <div class="mt-2">
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                class="input-style body-text sm:text-md/6 transition"
              />
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-lg/6 body-text">
                Contraseña</label
              >
              <div class="text-sm">
                <a href="/forgot-password" class="link-text"
                  >¿Olvidaste tu contraseña?</a
                >
              </div>
            </div>
            <div class="mt-2">
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
                class="input-style body-text sm:text-md/6 transition"
              />
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="form-button"
            >
              Iniciar sesión
            </button>
          </div>
        </form>

        <p class="mt-10 text-center text-lg/6">
          <span class="muted-text">¿No tienes cuenta? </span>
          <a href="/register" class="link-text">Regístrate</a>
        </p>
      </div>
    </div>
  </div>
</div>
