<div class="min-h-screen p-10 flex flex-col items-center justify-center gap-10">
  <app-qr-code-generator [url]="url"></app-qr-code-generator>
  <div class="rounded-4xl flex flex-col px-8 py-8 gap-5">
    <h1 class="text-5xl font-bold dark:text-white">¡Aprende a programar!</h1>
    <p class="font-light dark:text-white text-lg w-full">
      Entra al mundo del código con estilo. Diseño brutal, aprendizaje total.
    </p>
    <button class="button-primary">
      <span class="relative z-10">Sígueme</span>
    </button>
  </div>
</div>
