/* You can add global styles to this file, and also import other style files */

@import "./assets/fonts";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-logo: "Press Start 2P", sans-serif;
  --font-sans--font-feature-settings: "ss01", "ss03", "cv05", "cv06", "cv07",
    "cv08", "cv11", "cv12", "cv13";
  /* Light colors */
  --color-light-main: oklch(70% 0.1018 254.624);
  --color-light-border: oklch(75% 0.1018 254.624);
  --color-light-component: oklch(72% 0.1018 254.624);
  --color-light-component-hover: oklch(70% 0.1018 254.624);
  /* Dark colors */
  --color-dark-main: oklch(21% 0.0356 300);
  --color-dark-border: oklch(27% 0.0356 300);
  --color-dark-component: oklch(22.5% 0.0356 300);
  --color-dark-component-hover: oklch(21% 0.0356 300);
}

.logo-text {
  @apply ms-3 text-xl font-bold text-center text-fuchsia-700 font-logo select-none;
}

button {
  @apply cursor-pointer;
}
