/* You can add global styles to this file, and also import other style files */

@import "./assets/fonts";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-header: "DM Sans", sans-serif;
  --font-logo: "Press Start 2P", sans-serif;
  --font-sans--font-feature-settings: "ss01", "ss03", "cv05", "cv06", "cv07",
    "cv08", "cv11", "cv12", "cv13";

  /* Primary colors */
  --color-emphasis: var(--color-pink-600);
  --color-emphasis-hover: var(--color-pink-700);

  /* Light colors */
  --color-light-main: oklch(100% 0 148);
  --color-light-border: oklch(99% 0.08 148);
  --color-light-component: oklch(95% 0.08 148);
  --color-light-component-hover: oklch(95% 0.15 148);
  /* Text colors */
  --color-light: oklch(15% 0.22 148);
  --color-light-text: oklch(55% 0.22 148);
  --color-light-text-hover: oklch(55% 0.6 148);

  /* Dark colors */
  --color-dark-main: oklch(15% 0.04 300);
  --color-dark-border: oklch(20% 0.05 300);
  --color-dark-component: oklch(15% 0.065 300);
  --color-dark-component-hover: oklch(21.5% 0.1 300);
  /* Text colors */
  --color-dark: oklch(98% 0.1 300);
  --color-dark-text: oklch(80% 0.1 300);
  --color-dark-text-hover: oklch(87% 0.1 300);

  /* Buttons */
  --color-light-button: oklch(55% 0.22 148);
  --color-light-button-hover: oklch(55% 0.6 148);
  --color-dark-button: oklch(21.5% 0.1 300);
  --color-dark-button-hover: oklch(26% 0.1 300);
}

.dark .bg-dark-hero {
  @apply bg-gradient-to-t from-transparent to-dark-component;
}

.button-colors {
  @apply bg-light-button dark:bg-dark-button hover:bg-light-button-hover dark:hover:bg-dark-button-hover;
}

.bg-light-hero {
  @apply bg-gradient-to-t from-transparent to-light-component;
}

.logo-text {
  @apply ms-3 text-xl font-bold text-center text-pink-600 font-logo select-none;
}

.text-header {
  @apply text-light-text dark:text-dark-text hover:text-light-text-hover dark:hover:text-dark-text-hover transition;
}

button {
  @apply cursor-pointer;
}
