.custom-scrollbar-container {
  /* Estas clases vienen por Input: max-h-[90vh] y overflow-y-auto */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  /* Estilos para el contenedor de la barra de desplazamiento personalizada */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  /* Mostrar scrollbar al hacer hover sobre el CONTENEDOR custom-scrollbar-container */
  &:hover {
    scrollbar-width: thin; /* Mostrar una barra delgada al hacer hover */
    scrollbar-color: #8a2be2 rgba(0, 0, 0, 0); /* Colores visibles al hacer hover */
    transition: scrollbar-color 0.15s ease-in-out; 
  }
}
