<div
  class="p-8 flex flex-col items-center h-[calc(100vh-80px)] bg-light-main dark:bg-dark-main"
>
  <div
    class="p-[5%] h-full w-full border-box rounded-xl grid grid-cols-1 lg:grid-cols-5 gap-8"
  >
    <div class="col-span-3 h-full flex flex-col justify-center">
      <div class="">
        <span class="lg:text-8xl text-6xl text-fuchsia-700 font-extrabold">Bienvenido!</span>
      </div>
      <p class="dark:text-gray-300 font-extralight text-xl mt-5">
        Este es un ejemplo de Angular con Tailwind CSS. 
      </p>
      <button
        class="mt-8 text-xl bg-fuchsia-700/60 hover:bg-fuchsia-700/80 text-white py-2 rounded-xl transition"
      >
        Explorar
      </button>
    </div>

    <div class="col-span-2"></div>
  </div>
</div>
