<div class="p-5 flex flex-col items-center top-[10px]">
  <div
    class="p-[5%] w-full h-dvh bg-light-hero bg-dark-hero rounded-xl grid grid-cols-1 lg:grid-cols-5 overflow-hidden relative"
  >
    <!-- Background -->
    <img
      src="qr-hero.svg"
      alt="QR Hero"
      class="z-0 absolute w-full top-1/2 -translate-y-1/2 lg:-translate-y-1/2 opacity-20"
    />
    <!-- Content -->
    <div
      class="md:col-span-5 lg:col-span-4 xl:col-span-3 h-full flex flex-col justify-center z-3 lg:text-start text-center"
    >
      <div class="">
        <span
          class="lg:text-8xl sm:text-5xl text-4xl text-fuchsia-700 font-extrabold"
          >¡Bienvenido a GambaQR!</span
        >
      </div>
      <p
        class="dark:text-gray-300 text-gray-600 font-light text-lg md:text-xl mt-5"
      >
        Compra en tus restaurantes favoritos y obtén descuentos pagando en
        línea.
      </p>
      <button
        class="mt-8 w-50 text-xl bg-fuchsia-700 hover:bg-fuchsia-800 text-white py-2 rounded-full transition z-2 self-center lg:self-start"
      >
        Empezar
      </button>
    </div>
  </div>
</div>
