<div class="p-5 flex flex-col items-center top-[10px]">
  <div
    class="p-[5%] w-full h-dvh bg-[url('/qr-hero.svg')] min-h-fit bg-center bg-fixed bg-cover bg-no-repeat rounded-xl grid grid-cols-1 lg:grid-cols-5 relative"
  >
  <div class="absolute inset-0 bg-light-hero bg-dark-hero rounded-xl"></div>
    <!-- Content -->
    <div
      class="md:col-span-5 lg:col-span-4 xl:col-span-3 h-full flex flex-col justify-center z-3 lg:text-start text-center"
    >
      <span
        class="lg:text-9xl sm:text-5xl text-4xl text-emphasis font-extrabold font-header"
        >¡Bienvenido a GambaQR!
      </span>
      <p class="font-light text-light dark:text-dark text-lg md:text-xl mt-5">
        Compra en tus restaurantes favoritos y obtén descuentos pagando en
        línea.
      </p>
      <button
        class="mt-8 w-50 text-xl bg-emphasis hover:bg-emphasis-hover text-white py-2 rounded-full transition z-2 self-center lg:self-start"
      >
        Empezar
      </button>
    </div>
  </div>
</div>
